<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-label>Generate QR code</ion-label>
    <!-- <ion-button><ion-icon name="arrow-back"></ion-icon></ion-button> -->
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Login</ion-card-subtitle> -->
      <ion-card-title>Generate QR code</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>


      <!-- <form #form="ngForm" (ngSubmit)="generateQrCode(form)" novalidate> -->

        <form #form="ngForm" novalidate>
        <ion-label>Courier Id</ion-label>
        <ion-item>
          <ion-input type = "text" required [(ngModel)]="QRData.Courier_id" ngControl="CourierId" name="CourierId"></ion-input>
        </ion-item>

        <ion-label>Courier Name</ion-label>
        <ion-item>
         <ion-input type = "text" required [(ngModel)]="QRData.Courier_Name" ngControl="CourierName" name="CourierName"></ion-input>
        </ion-item>
  
        <ion-label>Courier Description</ion-label>
        <ion-item>
         <ion-input type = "text" required [(ngModel)]="QRData.Courier_Desc" ngControl="CourierDescription" name="CourierDescription"></ion-input>
        </ion-item>
 
        
         <ion-label>Courier CustomerId</ion-label>
         <ion-item>
          <ion-input type = "text" required [(ngModel)]="QRData.Courier_Customer_Id" ngControl="CourierCustomerId" name="CourierCustomerId"></ion-input>
         </ion-item>
         
         <ion-label>Courier Type</ion-label>
         <ion-item>
             
          <ion-input type = "text" required [(ngModel)]="QRData.Courier_Type" ngControl="CourierType" name="CourierType"></ion-input>
         </ion-item>
         <ion-button type="submit" [disabled]="valid" (click)="generateQrCode()">Submit</ion-button>
      </form>



    </ion-card-content>
  </ion-card>
</ion-content>
