<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Login</ion-card-subtitle> -->
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <ion-list>
      
        <ion-label>Enter Username</ion-label>
       <ion-item>
         <ion-input type = "text" [(ngModel)]="Login_User_Name"></ion-input>
       </ion-item>
       <ion-label>Enter Password</ion-label>
      
       
       <ion-item>
        <ion-input type = "password" [(ngModel)]="Login_User_Password"></ion-input>
       </ion-item>
       <ion-item>
          <ion-label>Select Role</ion-label>
          <ion-select [(ngModel)] = "roleselected">
            <ion-select-option *ngFor="let role of Roles">{{role.rolename}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="login(Login_User_Name,Login_User_Password,roleselected)">Submit</ion-button>
       
        </ion-item>
        
    
     </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
