<ion-app>
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar> 
  </ion-header> -->
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item (click) = "getUrl(pages.title)" routerDirection="forward">
              <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                 {{pages.title}} 
          </ion-item>
  
        </ion-menu-toggle>
        </ion-list>
       
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
